*{
    margin: 0px;
    padding: 0px;
}

html{
    color: white;
    background-image: url(https://i.ytimg.com/vi/h4iCzUzsIaE/maxresdefault.jpg);
}

header{
    text-align: center;
    background-color: darkmagenta;
}

main{
    text-align: center;
    margin: 40px;
}

footer{
    text-align: center;
    background-color: black;
}

.foto img{
    border-radius: 10px;
}

.presentacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lista{
    margin-top: 20px;
}

.presentacion .lista ul{
    text-align: left;
}